@import './reset.scss';
@import './variables/global.scss';
@import './themes/dark.scss';
@import './themes/light.scss';

body {
  font-size: var(--font-m);
  color: var(--primary-c olor);
  font-family: 'Roboto', sans-serif;
  font-family: 'Rubik Iso', cursive;
}

.app {
  min-height: 100vh;
  background: var(--bg-color);
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}
